.name-location-ctn{
    height: 52px;
    display: flex;
    flex-direction: column;
    
}

.name-loc-business{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;
}