.categorize-page-profile{
    color: #f4f4f4;
    padding:2rem 0px 2rem 0px;
}

.categorize-page-timeline{
    color: #f4f4f4;
    padding:2rem;
}

.category-label-btn{
    width: 162px;
}

.category-label-btn-wrp{
    width: 100%;
    min-width: 576px;
    display: flex;
    flex-direction: row;
    
    border-bottom: solid 1px #475264;
}

.categorize-ctn{
    margin: 1px;
}

