.categorize-page{
    color: #f4f4f4;
    margin-top: 36px;
}

.category-label-btn{
    width: 900px;
}

.category-label-btn-wrp{
    width: 900px;
    display: flex;
    flex-direction: row;
    
}

.content-ctn{
    width: 100%;
    min-height: 320px;
    background-color: #3B4046;
    border-radius: 0 20px 20px 20px;
}