.categorize-page{
    color: #f4f4f4;
    margin-top: 2rem;
}

.category-label-btn{
    width: 200px;
}

.category-label-btn-wrp{
    width: 100%;
    min-width: 576px;
    display: flex;
    flex-direction: row;
    
}

.categorize-ctn{
    margin: -2rem;
}

