.input-class {
   display: flex;
   flex-direction: column-reverse;
   justify-content: space-between;
   color: #f4f4f4;
}

.input-sm {
   height: 94px;
   width: 320px;
   font-size: 24px;
}

.input-md {
   height: 94px;
   width: 400px;
   font-size: 24px;
}

.input-lg {
   height: 94px !important;
   width: 484px;
   font-size: 32px;
}

.input-label {
   font-size: 24px;
   font-weight: 400;
}

.input-area {
   padding: 16px;
   height: 48px;
   border-radius: 20px;
   background-color: #f4f4f4;
   font-size: 24px;
   font-weight: 400;
   color: #3B4046;
   border: none;
}

input:focus {
   outline: none !important;
   border:5px solid #FED154;
}

input:focus + .input-label {
   color: #FED154;
}

.icon-eye {
   display: flex;
   align-self: flex-end;
   margin-right: 16px;
   margin-bottom: 12px;
   cursor: pointer;
   color: #3B4046;
   position: absolute;
}