.profile-page{
    color: #F4F4F4;
    padding: 2rem;
    /* min-width: 600px; */
    max-width: 756px;
    min-height: 32rem;
    background-color: #1E2329;
}

.head-profile{
    display: flex;
    flex-direction: row;
    /* gap: 2rem; */
    margin-bottom: 1rem;
}

.head-profile-left {
    display: flex;
    flex-direction: column;
}

.profile-text-head{
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.open-hour{
    margin-top: 4px;

}

.top-profile{
    display: flex;
    flex-direction: column;
}

.profile-buttons{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 1rem;
}

.profile-text-item{
    gap: 8px;
    margin-bottom: 8px;
    max-width: 512px;
}