.profile-page{
    color: #F4F4F4;
    margin: 36px;
}

.head-profile{
    display: flex;
    flex-direction: row;
}

.head-profile-left {
    display: flex;
    flex-direction: column;
}

.profile-text-head{
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.open-hour{
    margin-top: -4px;
}

.top-profile{
    display: flex;
    flex-direction: row;
}

.profile-buttons{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.profile-text-item{
    gap: 8px;
    margin-bottom: 8px;
}