.profile-page{
    color: #F4F4F4;
    padding: 2rem;
}

.head-profile{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-bottom: 1rem;
}

.head-profile-left {
    display: flex;
    flex-direction: column;
}

.profile-text-head{
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.open-hour{
    margin-top: 4px;

}

.top-profile{
    display: flex;
    flex-direction: column;
}

.profile-buttons{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.profile-text-item{
    gap: 8px;
    margin-bottom: 8px;
}