.under-dev-wrp{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;   
}

.img-ctn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

.under-dev-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}