@import url('http://fonts.cdnfonts.com/css/kirang-haerang');

.btn {
    background: #FED154;
    border: none;
    border-radius: 5px;
    padding: 6px 16px;
    font-size: 1.3rem;
    cursor: pointer;
    transition: 0.3s all ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
    color:  #FFFFFF;
    font-family: 'Kirang Haerang', sans-serif;
  }

  .btn:hover {
    background: #FFFFFF;
    color: #FED154;
  }
  
  a {
    text-decoration: none;
  }
  
  .btn span {
    margin-left: 0.7rem;
  }
  
  @media screen and (max-width: 900px) {
    .btn span {
      display: none;
    }
  }