@import url('http://fonts.cdnfonts.com/css/kirang-haerang');

.navbar {
    background-color: #3B4046;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Kirang Haerang', sans-serif;
  }
  
  .nav-menu-icon {
    margin-left: 2rem;
    font-size: 2rem;
    color: white;
    max-height: 2rem;
    background: none;
  }
  
  .sidebar-container {
    background-color: #3B4046;
    width: 20rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 1s;
  }
  
  .sidebar-container.active {
    left: 0;
    transition: 500ms;
  }
  
  .sidebar-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 5rem;
    list-style: none;
    padding: 35px 0px 8px 16px;
    font-family: 'Kirang Haerang', sans-serif;
  }
  
  .sidebar-item a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    height: 100%;
    width: 90%;
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
    border-radius: 4px;
  }
  
  .sidebar-item a:hover {
    background-color:#1E2329;
    color:  #FED154;
  }
  
  .sidebar-items {
    width: 100%;
  }
  
  .sidebar-container .sidebar-toggle {
    display: flex;
    height: 60px;
    justify-content: flex-start;
    align-items: center;
    /* margin-bottom: 0.3rem; */
  }
  
  span {
    padding-left: 1rem;
  }

  .btn-profile {
    margin-right: 32px;
  }