.category-label {
    max-width: 300px;
    height: 74px;
    background-color: #3B4046;

    border-radius: 20px 20px 0 0;

    padding: 10px 10px 50px 30px;

}

.label{
    font-family: 'Kirang Haerang', cursive;
    color: #F4F4F4;
    font-size: 36px;

    display: flex;
    align-items: center;
    text-align: center;
}

.inactive{
    background-color: #475264;
    
    color: #A3A8B2;
}