.category-label {
    max-width: 192px;
    height: 56px;
    background-color: #3B4046;

    border-radius: 20px 20px 0 0;

    cursor: default;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.label{
    font-family: 'Kirang Haerang', cursive;
    color: #F4F4F4;
    font-size: 24px;

    display: flex;
    align-items: center;
    text-align: center;
}

.inactive{
    background-color: #475264;
    
    color: #A3A8B2;
}

.inactive:hover{
    opacity: 0.8;
    cursor: pointer;
}