.custom-checkbox{

    height: 60px;
    width: 100%;
    margin: 0px ;

    color: #F4F4F4;
    font-size: 24px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    transition: 0.3s;
}

.custom-checkbox-inactive{
    opacity: 50%;
}

input[type="checkbox"]{
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.checkbox{
    display: inline-block;
    height: 24px;
    width: 24px;
    border-radius: 5px;

    background-color: #b9b9b9;

    margin-right: 1rem;

}

.dropdown-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.right-wrp {
    display: flex;
    align-items: center;
    
}

.label-dd{
    width: 0px;
}