.catalog-ctn{
    min-width: 600px;
    width: 100%;
    max-width: 750px;
    min-height: 320px;
    background-color: #3B4046;
    border-radius: 0 20px 20px 20px;
    padding: 24px;
    gap: 20px;

    display: grid;
    grid-template-columns: auto auto auto;
}

@media (max-width: 800px){
    .content-ctn { 
        width: 100%;
        grid-template-columns: repeat(2,1fr);
    }
}

.item-cell-x:hover{
    border:#3B4046 solid 2px;
    /* background-color: red; */
    border-radius: 20px ;
    box-shadow: 4px 4px 20px #1E2329;
    
}

.item-cell-ctn{
    width: 220px;
    height: 276px;
    display: flex;
    align-items: center;
    justify-content: center;
}