.catalog-ctn-f{
    /* min-width: 620px;
    width: 100%;
    max-width: 800px; */
    width: 800px;
    min-height: 320px;
    background-color: #3B4046;
    border-radius: 0 20px 20px 20px;

    padding-bottom: 2rem;
}

/* @media (max-width: 800px){
    .content-ctn { 
        width: 100%;
        grid-template-columns: repeat(2,1fr);
    }
} */

.detail-feed-bg{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 101;

}

.detail-feed-wrp{
    min-width: 37.5rem;
    min-height: 32rem;
    position: absolute;
    background-color: #3B4046;
    border-radius: 20px;
    padding: 0 0 2rem 0;
    display: flex;
    flex-direction: column;
    z-index: 102;
}

.item-cell{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item-cell:hover{
    /* background-color: #1E2329; */
    /* box-shadow: 4px 4px 8px #1E2329; */
    margin: -4px;
    border-radius: 20px;
}