.comment-wrp{
    color: #F4F4F4;
}

.comment-box{
    background-color: #F4F4F4;
    max-height: 192px;
    max-width: 100%;
    border-radius: 20px;

    padding: 16px;
    padding-bottom: 4px;

    color: #3B4046;
    border: none;

    display: flex;
    flex-direction: column;
    text-align: right;

    gap: 4px;
}

.text-area-bio{
    border: none;
    outline: none;
    background-color: #F4F4F4;
    resize: none;
    width: 100%;
}

.char-length{
    color: #849EB9;
    cursor: default;
}

.warning {
    background-color: #FE5454;
}

.comment-inside{
    text-align: left;
}