.timeline-wrp{
    /* padding: 2rem;
    max-width: 46rem;
    min-height: 32rem;
    background-color: #1E2329;
    color: #f4f4f4; */

}

.timeline-ctn{
    /* margin: 32px; */
    min-height: 100%;
    width: 100%;
    /* background-color: #3B4046; */
    /* border-radius: 20px; */
    padding: 32px;
    border-bottom: solid #1E2329;

    display: flex;
    flex-direction: column;
}

.option-btn{
    width: 28px;
    height: 32px;
    margin-left: 0px;
    cursor: pointer;

    float: right;
}


.option-btn:hover{
    opacity: 0.8;
    text-shadow: #1E2329;
}

.profile-hd{
    display: flex;
    float: left;
    margin-bottom: 16px;

}

.img-view-ctn{
    min-height: 360px;
    
}

.bottom-btn{
    cursor: pointer;
}

.bottom-ctn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ext-cmt{
    gap: 16px;
    display: flex;
    flex-flow: column;
}