.timeline-ctn{
    min-height: 100%;
    width: 100%;
    padding: 32px;
    border-bottom: solid #1E2329;

    display: flex;
    flex-direction: column;
}

.option-btn{
    width: 28px;
    height: 32px;
    margin-left: 0px;
    cursor: pointer;

    float: right;
}


.option-btn:hover{
    opacity: 0.8;
    text-shadow: #1E2329;
}

.profile-hd{
    display: flex;
    float: left;

}

.img-view-ctn{
    min-height: 360px;
    
}

.bottom-btn{
    cursor: pointer;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.bottom-ctn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ext-cmt{
    gap: 16px;
    display: flex;
    flex-flow: column;
    padding-top: 1rem;

}

.caption-ctn{
    margin: 1rem 0;
    width: 100%;
}

.comment-count-ctn{
    opacity: 0.8;
    cursor: default;
}

.time-date{
    cursor: default;
}

.x-btn{
    width: 28px;
    height: 32px;
    margin-left: 0px;
    cursor: pointer;
    color: #FE5454;

    float: right;
}

.comment-ssn{
    /* padding-top: 1rem; */
    transition: 0.3s;
}