.avatar-ctn {
    background-color: #FE5454;
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    margin: 0 16px 0 0;
    cursor: pointer;
}

.avatar-profile{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.small{
    height: 60px;
    width: 60px;
}