.tl-bg{
    padding: 2rem;
    max-width: 50rem;
    min-height: 32rem;
    background-color: #1E2329;
}

.tl-lst{
    background-color: #3B4046;
    padding: 0 0 2rem 0;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.ctg{

    border-radius: 0 20px 20px 20px;
}