.settings-cat-card{
    min-width: 600px;
    max-width: 736px;
    height: auto;
    background-color: #3B4046;
    border-radius: 20px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.button-add-product{
    display: flex;
    flex-direction: row-reverse;
    align-items:center;
    margin-bottom: 15px;
    gap: 1rem;
}

.product-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;
    border-bottom: 2px solid #FED154;
}

.pl-image{
    height: 150px;
    width: 200px;
    border-radius: 20px;
    object-fit: cover;
}

.pl-text{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.pl-button{
    display: flex;
    flex-direction: row;
    gap: 15px;
}