.sign-up-wrp{
    width: 100%;
    min-height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up-ctn{
    color: #F4F4F4;
    width: 600px;
    max-height: 760px;

    padding: 20px;
    padding-bottom: 32px;

    background-color: #849EB0;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.sign-in-ctn{
    display: flex;
    flex-direction: row;

    gap: 8px;

    cursor: default;
}

.pointer {
    cursor: pointer;
}