.wrapper{
    position: relative;
    width: 100%;
    height: 100%;

    background-color: #1E2329;
}

.settings-catalog-card{
    min-width: 600px;
    height: 100%;
    background: #3B4046;
    border-radius: 20px;


    display: flex;
    flex-direction: column;
}

.add-product-button{
    display: flex;
    flex-direction: row-reverse;
    /* float: right; */
    margin-bottom: 36px;
    margin: 2rem;
}
.wrapper-product-catalog-card{
    display: flex;
    flex-direction: row;
}
.product-catalog-card{
    border-radius: 20px;
    margin-left: 36px;
    margin-bottom: 36px;
    width: 225px;
    height: 200px;
    background: #849EB9;
}