.img-ctn{
    min-width: 200px;
    max-width: 736px;
    min-height: 320px;
    background-color: #3B4046;
    border-radius: 0 20px 20px 20px;
    gap: 8px;

    display: grid;
    grid-template-columns: 216px 216px 216px  ;
    row-gap: 16px;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(216px, 1fr));
}
