.button-component{
   height: auto;
   min-height: 48px;
   width: 260px;
   border-radius: 0px;
   background-color: #FED154;
   border: none;
   border-radius: 20px;
   font-size: 28px;
   font-weight: 400;
   line-height: 43px;
   text-align: center;
   color: #f4f4f4;
}

.button-component:hover{
   background-color: #FEDA76;
}

.button-component-disable{
   height: 48px;
   width: 260px;
   border-radius: 0px;
   background-color: #E3CD8E;
   border: none;
   border-radius: 20px;
   font-size: 24px;
   font-weight: 400;
   line-height: 43px;
   text-align: center;
   color: #f4f4f4;
}

.button-component-disable:hover{
   background-color: #E3CD8E;
}

.btn-sm{
   height: 40px;
   width: 124px;
   font-size: 20px;
   line-height: 25px;
}