.button-component{
   height: auto;
   min-height: 48px;
   width: 260px;
   border-radius: 0px;
   background-color: #FED154;
   border: none;
   border-radius: 20px;
   font-size: 1.25rem;
   font-weight: 400;
   line-height: 43px;
   text-align: center;
   color: #475264;
   transition: 0.3s;
}

.button-component:hover{
   background-color: #FEDA76;
   box-shadow: 4px 4px 8px #1E2329;
   font-weight: bolder;
}

.button-component-disable{
   height: 48px;
   width: 260px;
   border-radius: 0px;
   background-color: #E3CD8E;
   border: none;
   border-radius: 20px;
   font-size: 24px;
   font-weight: 400;
   line-height: 43px;
   text-align: center;
   color: #f4f4f4;
}

.button-component-disable:hover{
   background-color: #E3CD8E;
   box-shadow: none;
   font-weight: normal;
}

.btn-sm{
   height: 40px;
   width: 124px;
   font-size: 20px;
   line-height: 25px;

   font-size: 1rem;
}