.inner-content {
   padding-top: 48px;
}

.content-spc{
   display: flex;
   flex-direction: row;
   justify-content: center;
   /* align-items: center; */
   margin-bottom: -1.5rem;

   position: relative;
   min-width: 1160px;
   /* min-height: 100vh; */
   /* height: 100%; */
}